@page "/account";
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject CustomAuthStateProvider _authProvider

<MudContainer MaxWidth="MaxWidth.Medium">
    <AuthorizeView>
        <Authorized>
            Hello, @context.User.Identity?.Name!
            <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
        </Authorized>
        <NotAuthorized>
            <a href="authentication/">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</MudContainer>


@code {
    private async void BeginLogOut()
    {
        await _authProvider.UpdateSignInStatusAsync(null);
    }
}
